/*
*
* Copyright (c) 2021 Darryl deHaan
* SPDX-License-Identifier: MIT
*
*/

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        label = "QWERTY";
// -----------------------------------------------------------------------------------------
// |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  |
// |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |
// |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  |
//             | GUI | LWR | ENT |   | SPC | RSE  | ALT |
                        bindings = <
   &kp Q &kp W &kp E &kp R &kp T   &kp Y &kp U  &kp I    &kp O   &kp P    
   &kp A &kp S &kp D &kp F &kp G   &kp H &kp J  &kp K    &kp L   &kp SCLN 
   &kp Z &kp X &kp C &kp V &kp B   &kp N &kp M  &kp CMMA &kp DOT &kp FSLH 
           &kp GUI &mo 1 &kp RET   &kp SPC &mo 2 &kp RALT
                        >;
                };
                lower_layer {
                        label = "NUMBER";
// -----------------------------------------------------------------------------------------
// |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  |
// |BTCLR| BT1 | BT2 | BT3 | BT4 |   | BT5 | LFT | DWN |  UP | RGT |
// |     |     |     |     |     |   |     |     |     |     |     |
//             | GUI |     | SPC |   | ENT |     | ALT |
                        bindings = <
   &kp NUM_1    &kp NUM_2    &kp NUM_3    &kp NUM_4  &kp NUM_5          &kp NUM_6 &kp NUM_7 &kp NUM_8 &kp NUM_9 &kp NUM_0 
   &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3       &bt BT_SEL 4 &kp LARW  &kp DARW  &kp UARW  &kp RARW 
   &kp LSFT   &trans       &trans       &trans       &trans             &trans    &trans    &trans    &trans    &trans   
                           &kp LGUI     &trans       &kp RET            &kp SPC   &trans &kp RALT
                        >;
                };

                raise_layer {
                        label = "SYMBOL";
// -----------------------------------------------------------------------------------------
// |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  |
// |     |     |     |     |     |   |  -  |  =  |  {  |  }  | "|" |
// |     |     |     |     |     |   |  _  |  +  |  [  |  ]  |  \  | // TODO: Fix this row when &mkp is committed
//             | GUI |     | SPC |   | ENT |     | ALT |
                        bindings = <
   &kp BANG  &kp ATSN  &kp HASH  &kp CURU  &kp PRCT    &kp CRRT  &kp AMPS &kp KMLT &kp LPRN &kp RPRN 
   &trans    &trans    &trans    &trans    &trans      &kp MINUS &kp EQL  &kp LBKT &kp RBKT &kp PIPE 
   &trans    &trans    &trans    &trans    &trans      &trans    &trans   &trans   &trans   &kp BSLH 
                           &kp LGUI &trans &kp RET     &kp SPC   &trans &kp RALT
                        >;
                };
        };
};